version: '3.7'

services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 54321:5432

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    command: bash -c "
        uvicorn backend.main:app --host 0.0.0.0 --port 8080 --reload
      "
    volumes:
      - ./backend/:/backend
    ports:
      - "8080:8080"
    depends_on:
      - db

  frontend:
    stdin_open: true
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    volumes:
    - "/app/node_modules"
    - "./frontend/:/app"



