version: '3.7'

services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 54321:5432

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    command: bash -c "
        gunicorn -k uvicorn.workers.UvicornWorker backend.main:app --env user="postgres" --env password="postgres" --env host="db" --env port="54321" --env db_name="postgres" --bind=0.0.0.0:8080
      "
    volumes:
      - ./backend/:/backend
    ports:
      - "8080:8080"
    depends_on:
      - db

  frontend:
    stdin_open: true
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 3001:3000
    volumes:
    - "/app/node_modules"
    - "./frontend/:/app"



